---
---

@import "{{ site.theme }}";
.google_form_link {
    display: block;
    float: right;
    width: 90px;
    height:70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(../images/form_logo.png) no-repeat;
  }